@import './variables';

#results {
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
  background-color: $emptyBoxColor;

  p {
    height: 5vh;
  }

  section {
    // background-color: $emptyBoxColor;
    padding-top: 20px;
    height: 43vh;
    overflow: scroll;
  }
}

#json-pretty {
  background-color: $emptyBoxColor;
}