@import './variables';

#form {
  margin-left: 200px;
  margin-right: 200px;

  height: 75vh;
  text-align: center;
  
  form {

  }

  legend {
    padding: 6px;
  }

  input {
    padding: 6px;
  }

  button {
    background-color: $unclickedButton;
    border-color: $unclickedButton;
    &:hover {
      background-color: $buttonHover;
    }
    span {
      font-family: $baseFont;
    }
  } 
  
  #methods {
    button {
      margin: 10px;
      &:focus {
        background-color: $methodButtonSelected ;
      }
    }
  }
}

#apiRequest {
  height: 20vh;
  border: 50px;
  background-color: $emptyBoxColor;
  p {
    word-spacing: 20px;
  }
}