@import './variables';

#form {

  height: 75vh;

  button {
    background-color: $unclickedButton;
    border-color: $unclickedButton;
    &:hover {
      background-color: $buttonHover;
    }
    span {
      font-family: $baseFont;
    }
  } 
}

#apiRequest {
  height: 20vh;
  background-color: $emptyBoxColor;
}