// font-family 'Nunito', sans-serif
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

$color-primary-0: #845FC8;	// Main Primary color */
$color-primary-1: #CAB5F0;
$color-primary-2: #A586DE;
$color-primary-3: #6841B0;
$color-primary-4: #51269F;


$baseBackground: $color-primary-1;
$baseFont: 'Nunito', sans-serif;
$baseColor: $color-primary-4;
$emptyBoxColor: #F5E3FB;

$unclickedButton: #F5E3FB;
$buttonHover: $color-primary-2;
$methodButtonSelected: $color-primary-2;

$headerTextColor: $color-primary-1;
$headerBackground: $color-primary-4;

$footerTextColor: $color-primary-1;
$footerBackground: $color-primary-4;